<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangxie.wangxieweb.mapper.ActivityMapper">
    <insert id="addActivity" parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
        insert into activity (name, content, start_time, end_time, leader_user,
                              participant_id, department)
                              values (#{name}, #{content}, #{startTime}, #{endTime},
                                      #{leaderUser}, #{participantId}, #{department});
    </insert>

    <select id="getAllActivity" resultType="Activity">
        select * from activity;
    </select>

    <delete id="deleteActivityById" parameterType="int">
        delete from activity where id=#{0};
    </delete>

    <select id="findActivityById" parameterType="int" resultType="Activity">
        select * from activity where id=#{0};
    </select>

    <update id="editActivityByActivity" parameterType="Activity" useGeneratedKeys="true" keyProperty="id">
        update activity set name=#{name}, content=#{content}, start_time=#{startTime},
                             end_time=#{endTime}, leader_user=#{leaderUser},
                             participant_id=#{participantId}, department=#{department}
                            where id=#{id};
    </update>

</mapper>