<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangxie.wangxieweb.mapper.MajorMapper">

    <select id="getAllMajor" resultType="Major">
        select * from major;
    </select>

    <select id="getAllCollege" resultType="Major">
        select * from major where pid=0;
    </select>

    <select id="findMajorById" parameterType="int" resultType="String">
        select name from major where id=#{0};
    </select>

    <select id="findMajorIdByName" parameterType="String" resultType="int">
        select id from major where name=#{0};
    </select>

    <select id="findCollegeByMajorId" parameterType="int" resultType="String">
        select name from major where id=(select pid from major where id=#{0});
    </select>

    <select id="findCollegeIdByMajorId" parameterType="int" resultType="int">
        select pid from major where id=#{0};
    </select>
</mapper>