<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangxie.wangxieweb.mapper.UserMapper">
    <select id="findAll" resultType="User">
        select * from user;
    </select> <!-- 从数据库中拉出user表的所有内容，仅做调试用，不建议大家这么写，业务逻辑中用什么拉什么 -->

    <select id="loginJudge" parameterType="String" resultType="Integer">
        select count(username) from user where  username=#{username} and password=#{password};
    </select> <!-- 此语句对应loginJudge接口，实际是判断user表中用户名为username值和密码password值的记录的条数 -->

    <select id="findRoleById" parameterType="int" resultType="String">
        select name from role where id=#{0};
    </select>

    <select id="findMajorById" parameterType="int" resultType="String">
        select name from major where id=#{0};
    </select>

    <select id="findCollegeByMajorId" parameterType="int" resultType="String">
        select name from major where id=(select pid from major where id=#{0});
    </select>

    <select id="findUserById" resultType="User">
        select * from user where id=#{0};
    </select>

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,password,role_id,grade,sex,major_id,
                          student_id,department,name,ban_deadline)
                          values (#{username},#{password},#{roleId},#{grade},#{sex},#{majorId},
                          #{studentId},#{department},#{name},#{banDeadline})
    </insert>

    <select id="findParamIdByName" parameterType="String" resultType="int">
        select id from #{param} where name=#{name};
    </select>

    <select id="isStudentIdExist" parameterType="String" resultType="boolean">
        select count(id) from user where student_id=#{0};
    </select>

    <select id="isUsernameExist" parameterType="String" resultType="boolean">
        select count(id) from user where username=#{0};
    </select>

</mapper>